body{
    margin: 0
}

@keyframes colorear {
    0% {background-color:antiquewhite; font-size: 5rem;}
    50% {background-color:rgb(126, 151, 239);font-size: 4.6rem;}
    80% {background-color:rgb(202, 244, 187);}
    100% {background-color: antiquewhite;font-size: 5rem;}
}


#caja{
    width: 100%;
    /* 
        Establecemos el alto de la ventaja visible
    */
    height: 100vh;
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    /* 
        Ejecutará la animación de manera infinita y dura 4 segundos cada vez
    */
    animation: colorear 4s infinite;
}

#caja h1{
    margin: 0;
    text-align: center;
}