body{
    background-color: lightblue;
}

#contenedor{
    width: 400px;
    /* 
        Centramos
    */
    margin: 0 auto;     
}


/* 
    Hijo directo
    Todos los div que son hijos directos de #contenedor
*/
#contenedor > div{
    /* 
        Para que queden 2 y 2 en este contexto de contenedor de 400px
    */
    width: 180px;
    height: 180px;
    margin: 10px;
    /* 
        En este contexto la flotación left pone una caja al lado de la otra, mientras entren en el ancho total disopnible
    */    
    float: left;       
}

#caja1{background-color: red;}
#caja2{background-color: blue;}
#caja3{background-color: orange;}
#caja4{background-color: silver;}