body{
    font-size: 2rem;
    margin: 0;
}
#contenedor{
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    height: 150px;
    /* 
        Posicionamos el elemento arriba al tope, pero permite scroll
    */
    position: absolute;
    top: 0;
    left: 0;

}

main{
    margin-top: 150px;
}

main section {
    width: 60%;
    margin: 0 20%;
}

#publicidad{
    width: 100%;
    height: 70px;
    background-color: blueviolet;
    position: sticky;
    top: 0px;
}