/* Opcional:
En los textos modificar: color, tipografía y tamaño de la fuente (todos a tu elección, buscando la mejor opción que consideres para este ejercicio)
Ajustar márgenes para ofrecer la mejor experiencia de lectura al usuario
Al final se puede agregar un pie de página con más datos de la empresa ficticia (puede ser un div con un párrafo en un tamaño de texto más pequeño). */


body{
    font-size: Arial;
    background-color: black;
}

h1{
    font-size: 2.5em;
}
.container{
    background-color: white;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    border: 5px solid black;
    padding: 50px;

}
img{
    margin: 20px 0;
}
#pie{
    background-color: black;
    font-size: 0.8rem;
    color:white;
    
}
li{
    list-style: none;
    font-size: 1.2em;
    float: left;
    width: 100px;
}
ul{
    padding: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
}
p{
    font-size: 1.2rem;
}
